<h2>Your Correspondences</h2>


<% if @correspondences.any? %>
  <table class="table">
     <thead>
       <tr>
         <th>Action</th>
         <th>Contact</th>
         <th>Position</th>
         <th>Company</th>
       </tr>
     </thead>
     <tbody>
       <% @correspondences.each do |correspondence| %>

         <tr>
           <td><a href="/correspondence/<%= correspondence.id %>"><%= correspondence.action %></a></td>
           <td><%= correspondence.contact ? "#{correspondence.contact.name}" : "no contact listed"%></td>
           <td><%= correspondence.position ? "#{correspondence.position.title}" : "no position listed"%></td>
          <td> <%= correspondence.company ? "#{correspondence.company.name}" : "no company listed"%></td>
         </tr>

       <% end %>
     </tbody>
   </table>
<% else %>
  <p>There are no correspondences yet! </p>
<% end %>

<a href="/correspondence/new">Add Correspondence</a>
