<h2>Your Positions</h2>


<% if @positions.any? %>
  <table class="table">
    <thead>
     <tr>
       <th><a href="/position/by_title">Title</a></th>
       <th><a href="/position/by_company">Company</a></th>
       <th><a href="/position/by_status">Application Status</a></th>
       <th><a href="/position/by_date">Application Date</a></th>
       <th><a href="/position/by_qualification">Am I Qualified?</a></th>
     </tr>
    </thead>
    <tbody>
     <% @positions.each do |position| %>
       <tr>
          <td><a href="/position/<%= position.id %>"><%= position.title %></a></td>
          <% if position.company %>
            <td><%= position.company.name %></td>
          <% end%>
          <td><%= position.application_status %></td>
          <td><%= position.application_date %></td>
          <td><%= position.qualifications %></td>
       </tr>

     <% end %>
    </tbody>
    </table>
<% else %>
  <p>
    There are no positions yet!
  </p>
<% end %>

<a href="/users/new_position">Add a Position</a>
