<h3><%= @company.name %></h3>

<p>Location: <%= @company.location %></p>
<p>Website: <%= @company.website %></p>
<p>Services: <%= @company.services %></p>
<p>Size: <%= @company.size %></p>
<p>Specializations: <%= @company.specializations %></p>
<p>Pros: <%= @company.pros %></p>
<p>Cons: <%= @company.cons %></p>
<p>Notes: <%= @company.notes %></p>

<a class="btn btn-default" href="/company/<%= @company.id %>/edit">Edit Company Info</a>
