<h2>Welcome, <%= @user.name %></h2>

<div class="well">
  <h3>Tip of the Day:</h3>
  <%= Quote.order("RANDOM()").first.tip%>
</div><br>

<h3>Your Positions: </h3>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Not Applied </a></li>
  <li role="presentation"><a href="#">Applied, Pending Response</a></li>
  <li role="presentation"><a href="#">Applied, In Progress</a></li>
  <li role="presentation"><a href="#">Received Offer</a></li>
  <li role="presentation"><a href="#">Archived</a></li>
</ul>


<table class="table">
  <thead>
    <tr>
      <th>Position</th>
      <th>Company</th>
      <th>Application Date</th>
    </tr>
  </thead>
  <tbody>
    <% @not_applied_positions.each do |position| %>
      <tr>
        <td><%= position.title %></td>
        <% if position.company %>
          <td><%= position.company.name %></td>
        <% end%>
        <td><%= position.application_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

