<h2>Welcome, <%= @user.name %></h2>

<div class="well tip-well">
  <h3>Tip of the Day:</h3>
  <%= Quote.order("RANDOM()").first.tip%>
</div><br>

<h3>Your Positions: </h3>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/users/home">Not Applied </a></li>
  <li role="presentation" class="active"><a href="/users/home/pending_response">Applied, Pending Response</a></li>
  <li role="presentation"><a href="/users/home/in_progress">Applied, In Progress</a></li>
  <li role="presentation"><a href="/users/home/received_offer">Received Offer</a></li>
  <li role="presentation"><a href="/users/home/archived">Archived</a></li>
</ul>


<table class="table">
  <thead>
    <tr>
      <th>Position</th>
      <th>Company</th>
      <th>Application Date</th>
    </tr>
  </thead>
  <tbody>
    <% @pending_response_positions.each do |position| %>
      <tr>
        <td><a href="/position/<%= position.id %>"><%= position.title %></a></td>
        <% if position.company %>
          <td><%= position.company.name %></td>
        <% end%>
        <td><%= position.application_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
