<div class="row">
  <div class="col-sm-4">
    <h2><%= @contact.name %></h2>
    <h3><%= @contact.company ? "#{@contact.job_title} at #{@contact.company.name}" : "#{@contact.job_title}" %></h3>
    <h4>Contact Info:</h4>
    <h5>Phone: <%= @contact.phone %></h5>
    <h5>Email: <%= @contact.email %></h5>
    <h5>LinkedIn: <%= @contact.linkedin %></h5>
    <h5>Notes</h5>
    <p><%= @contact.notes %></p>
    <a href="/contacts/edit/<%= @contact.id%>" class='btn btn-default'>Edit Contact</a>
    <a href="/correspondence/new" class='btn btn-default'>Add Correspondence</a>

    <h3>See <%= @contact.name %>'s tweets!</h3>
    <form class="twitter" action="/tweets" method="post">
      <input type="hidden" name="contact-id" value="<%= @contact.id %>">
      <label for="user">twitter handle</label>
      <br>
      <input type="text" name="user">
      <br>
      <label for="count">recent tweets to view</label>
      <br>
      <input type="number" name="count" max="50">
      <br>
      <button type="submit" name="button">find tweets</button>
    </form>

    <br>
    <form class="" action="/clear_tweets" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="contact-id" value="<%= @contact.id %>">
      <button href="/">clear all</button>
    </form>
    <hr>
    <% num = 0 %>

    <% @tweets.each do |tweet| %>
      <% num += 1 %>
      <p><%= num %>. <b><%= tweet.handle %>:</b> <%= tweet.tweet %></p>
      <p>retweets: <%= tweet.retweet %></p>
      <form class="" action="/tweet/<%= tweet.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="contact-id" value="<%= @contact.id %>">
        <button class="btn btn-default" href="/">remove</button>
      </form>
      <hr>
    <%end%>




  </div>
  <div class="col-sm-8">
    <h2>Correspondence with <%= @contact.name %></h2>
    <% if @contact.correspondences.any? %>
      <% @contact.correspondences.each do |correspondence| %>
        <div class="well">
          <h4>Action: <%= correspondence.action %></h4>
          <h4> <%= correspondence.company ?  "Company: #{correspondence.company.name}" : nil %></h4>
          <h4> <%= correspondence.position ?  "Regarding Position: #{correspondence.position.title}" : nil %></h4>
          <p>Mode: <%= correspondence.mode %></p>
          <p>Date: <%= correspondence.date %></p>
          <p>Notes: <%= correspondence.notes %></p>
        </div>
      <% end %>
    <% else %>
      <h5>You should consider talking to people.</h5>
    <% end %>
  </div>
</div>
