<h2><%= @contact.name %></h2>
<h3><%= @contact.company ? "#{@contact.job_title} at #{@contact.company.name}" : "#{@contact.job_title}" %></h3>
<h4>Contact Info:</h4>
<h5>Phone: <%= @contact.phone %></h5>
<h5>Email: <%= @contact.email %></h5>
<h5>LinkedIn: <%= @contact.linkedin %></h5>
<h5>Notes</h5>
<p><%= @contact.notes %></p>
<a href="/contacts/edit/<%= @contact.id%>" class='btn btn-default'>Edit Contact</a>
